#canovaccio, #missions{
    height: 90vh;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: -100%;
    background-color: white;
}
#canovaccio>table{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 20px;
}
#canovaccio>table>tbody>tr>th{
    writing-mode: vertical-lr;
    text-align: end;
    
}
#canovaccio>table>tbody>tr>td{
    width: 12px;
    height: 12px;
    align-content: start;
}
#canovaccio>table>tbody>tr>td>input{
    width: 12px;
    height: 12px;
    text-align: center;
}