#canovaccio, #missions{
    height: 90vh;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: -100%;
    background-color: white;
}
#canovaccio>table{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 20px;
}
.writing_vertical{
    writing-mode: vertical-lr;
    text-align: end;
    align-content: center;
}
.canovaccio_head.header_name{
    align-content: end;
}
.header_sigla{
    font-size: 18px;
}
#canovaccio>table>tbody>tr>td{
    width: 12px;
    height: 12px;
    align-content: start;
}
#canovaccio>table>tbody>tr>td>input{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
}
.canovaccio_input{
    text-align: center;
}