#talk_dialog{
    position: absolute;
    bottom: 0px;
    height: 75%;
    width: 50%;
    left: -100%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;

}
#talk_dialog > #my_cards{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
}
#talk_dialog > #my_cards > #bodytypes, #talk_dialog > #my_cards > #personalities, #talk_dialog > #my_cards > #truecards{
    width: 100%;
    height: 25%;
    flex-grow: 1;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
img.card.bodytype_card, img.card.personality_card, img.card.truecard{
    height: 100%;
}
#talk_button{
    padding: 8px;
}
#talk_button > #talk_button_send{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#talk_request{
    font-size: 18px;
    margin: 10px;
    color: black;
}
.card.selected_truecard{
    outline: 5px solid gray;
}
#talk_answer_received{
    position: absolute;
    right: 0px;
    max-height: 600px;
    background-color: white;
    padding: 20px;
}
#talk_answer_received>#answer_1, #talk_answer_received>#answer_2, #talk_answer_received>#answer_3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 10px 0px;
}
#talk_answer_received>#answer_1>img, #talk_answer_received>#answer_2>img, #talk_answer_received>#answer_3>img{
    height: 100%;
    max-height: 150px;
}
#talk_request>span.green{
    color: green;
}
#talk_request>span.red{
    color: red;
}
#talk_request>span.blue{
    color: blue;
}
#talk_request>span.yellow{
    color: goldenrod;
}